body {
  background:url(assets/img/background.png);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header + * {
  margin-top: 3.4rem;
}

.btn.btn-default {
  box-shadow: none;
}

small {
  font-size: 0.5em;
}

.btn-info {
  color: white !important;
}

.not-underline {
  text-decoration: none;
}

.required-field {
  color: red;
  font-weight: bold;
}

.required-field::after {
  content: "*";
}