<div class="animate__animated animate__fadeIn animate__fast">

  <h1 *ngIf="!user.id">Nuevo usuario</h1>
  <h1 *ngIf="user.id">Editar usuario <small class="text-muted">{{ user.dni }}</small></h1>
  <hr />

  <form class="row g-3" autocomplete="off" [formGroup]="form" (ngSubmit)="saveForm()">

    <div class="col-md-12 form-group">
      <label class="form-label">DNI <span class="required-field"></span></label>
      <input class="form-control text-muted" type="text" placeholder="DNI" formControlName="dni"
        [class.is-invalid]="(form | isInvalidControl:'dni')"
        oninput="this.value = this.value.toUpperCase()">
      <span *ngIf="form | isInvalidControl:'dni':'required'" class="form-text text-danger">
        El campo no puede estar vacio
      </span>
      <span *ngIf="form | isInvalidControl:'dni':'repeated':true" class="form-text text-danger">
        El DNI introducido ya existe en la base de datos
      </span>
      <span *ngIf="form | isPendingControl:'dni'" class="form-text text-info">
        <i class="fa fa-spin fa-refresh" aria-hidden="true"></i> Comprobando si DNI ya existe
      </span>
    </div>

    <div class="col-md-6 form-group">
      <label class="form-label">Nombre <span class="required-field"></span></label>
      <input class="form-control text-muted" type="text" placeholder="Nombre" formControlName="name"
        [class.is-invalid]="form | isInvalidControl:'name'">
      <span *ngIf="form | isInvalidControl:'name'" class="form-text text-danger">
        El campo no puede estar vacio
      </span>
    </div>

    <div class="col-md-6 form-group">
      <label class="form-label">Apellidos <span class="required-field"></span></label>
      <input class="form-control text-muted" type="text" placeholder="Apellidos" formControlName="surname"
        [class.is-invalid]="form | isInvalidControl:'surname'">
      <span *ngIf="form | isInvalidControl:'surname'" class="form-text text-danger">
        El campo no puede estar vacio
      </span>
    </div>

    <div class="col-md-6 form-group">
      <label class="form-label">Teléfono <span class="required-field"></span></label>
      <input class="form-control text-muted" type="text" placeholder="Número de teléfono" formControlName="phone"
        [class.is-invalid]="form | isInvalidControl:'phone'" maxlength="9">
      <span *ngIf="form | isInvalidControl:'phone'" class="form-text text-danger">
        Debe itroducir 9 números
      </span>
    </div>

    <div class="col-md-6 form-group">
      <label class="form-label">Correo <span class="required-field"></span></label>
      <input class="form-control text-muted" type="text" placeholder="Correo electrónico" formControlName="mail"
        [class.is-invalid]="form | isInvalidControl:'mail'">
      <span *ngIf="form | isInvalidControl:'mail'" class="form-text text-danger">
        Debe itroducir un correo con el formato correcto
      </span>
    </div>

    <div class="form-group col-12 text-center">
      <hr>
      <button type="submit" class="btn btn-primary w-100 text-truncate">
        <i class="fa fa-floppy-o"></i>
        Guardar
      </button>
    </div>
  </form>

</div>
