<div class="animate__animated animate__fadeIn animate__fast">

  <h1>Usuario</h1>
  <hr />

  <div class="d-flex justify-content-end">
    <button routerLink="/heroes" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Agregar
    </button>
  </div>

  <form class="row g-3" autocomplete="off" [formGroup]="form">

	<div class="col-md-12 form-group">
		<label class="form-label">DNI</label>
		<input class="form-control text-muted" type="text" placeholder="DNI" formControlName="dni">
	  </div>

	  <div class="col-md-6 form-group">
		<label class="form-label">Nombre</label>
		<input class="form-control text-muted" type="text" placeholder="Nombre" formControlName="name">
	  </div>

	  <div class="col-md-6 form-group">
		<label class="form-label">Apellidos</label>
		<input class="form-control text-muted" type="text" placeholder="Apellidos" formControlName="surname">
	  </div>

	  <div class="col-md-6 form-group">
		<label class="form-label">Teléfono</label>
		<input class="form-control text-muted" type="text" placeholder="Número de teléfono"
		  formControlName="phone">
	  </div>

	  <div class="col-md-6 form-group">
		<label class="form-label">Correo</label>
		<input class="form-control text-muted" type="text" placeholder="Correo electrónico"
		  formControlName="mail">
	  </div>

    <div class="form-group col-12 text-center">
      <hr>
      <button type="submit" class="btn btn-primary w-100 text-truncate">
        <i class="fa fa-floppy-o"></i>
        Guardar
      </button>
    </div>
  </form>

</div>
